extends ../layout

block content

	.container
		.row
			.col-md-5
				form(method="POST", action="/user/signup")
					.modal-body
						.form-group
							label(for="signupName") 用户名
							input#signupName.form-control(name="user[name]", type="text", required)
						.form-group
							label(for="signupPassword") 密码
							input#signupPassword.form-control(name="user[password]", type="text", required)
						.form-group
							label(for="signupEmail") 邮箱
							input#signupEmail.form-control(name="user[email]", type="email", required)
					.modal-footer
						button.btn.btn-default(type="button",data-dismiss="modal") 关闭
						button.btn.btn-success(type="submit") 注册
